.main {
  max-width: 1080px;
  margin-inline: auto;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
}

.hero {
  margin-bottom: var(--mantine-spacing-xl);
}

.grid {
  display: grid;
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-xl);
}

@media (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
