.masonry {
  display: flex;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
}

.column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  min-width: 0;
}
